@model A17ProjetMVC.Models.Emprunt
@using A17ProjetMVC.Resources;

@{
    ViewBag.Title = @site.viewDeleteTitle;
}

<h2>@site.viewDeleteTitle</h2>

<h3>@site.viewDeleteConfirmDelete</h3>
<div>
    <h4>@site.Borrow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objet.NomObjet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objet.NomObjet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(@site.viewCreateBackToList, "Index")
        </div>
    }
</div>
