@model A17ProjetMVC.Models.Objet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Objet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomObjet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomObjet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
