@model IEnumerable<A17ProjetMVC.Models.Objet>
@using A17ProjetMVC.Resources;

@{
    ViewBag.Title = @site.viewSharedMyObject;
}

<h2>@site.viewSharedMyObject</h2>

<p>
    @Html.ActionLink(@site.buttonCreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomObjet)
        </th>
        <th>
            <p>@site.viewMyObjectBelongTo</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomObjet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Nom)
        </td>
        <td>
            @Html.ActionLink(@site.viewEditTitle, "Edit", new { id=item.ObjetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ObjetID }) |
            @Html.ActionLink(@site.viewDeleteTitle, "Delete", new { id=item.ObjetID })
        </td>
    </tr>
}

</table>
