@model A17ProjetMVC.Models.StatistiquesVM
@using A17ProjetMVC.Resources

@{
    ViewBag.Title = "Statistiques";
}

<h2>@site.statTitle</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>@site.statTop5GenerousMonth</h3>
            <table class="table">
                <tr>
                    <th>
                        <p>@site.statRegistrationNumber</p>
                    </th>
                    <th>
                        @site.statLastName
                    </th>
                    <th>
                        @site.statFirstName
                    </th>
                    <th>
                        @site.topMemberObjCount
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Top5MembreGenereuxMois)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Prenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObjetCount)
                        </td>

                    </tr>
                }

            </table>
        </div>
        <div class="col-md-6">
            <h3>@site.statTop5GenerousWeek</h3>
            <table class="table">
                <tr>
                    <th>
                        @site.statRegistrationNumber
                    </th>
                    <th>
                        @site.statLastName
                    </th>
                    <th>
                        @site.statFirstName
                    </th>
                    <th>
                        @site.topMemberObjCount
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Top5MembreGenereuxSemaine)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Prenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ObjetCount)
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>@site.statTop5AppreciatedMonth</h3>
            <table class="table">
                <tr>
                    <th>
                        @site.statRegistrationNumber
                    </th>
                    <th>
                        @site.statLastName
                    </th>
                    <th>
                        @site.statFirstName
                    </th>
                    <th>
                        @site.statAvgRating
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Top5MembresApreciesMois)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Prenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AverageNotes)
                        </td>

                    </tr>
                }

            </table>
        </div>
        <div class="col-md-6">
            <h3>@site.statTop5AppreciatedWeek</h3>
            <table class="table">
                <tr>
                    <th>
                        @site.statRegistrationNumber
                    </th>
                    <th>
                        @site.statLastName
                    </th>
                    <th>
                        @site.statFirstName
                    </th>
                    <th>
                        @site.statAvgRating
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Top5MembresApreciesSemaine)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Prenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AverageNotes)
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>


<h2>Top @site.modelCategoryName</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>@site.statTop5MostSoughtMonth</h3>
            <table class="table">
                <tr>
                    <th>
                        @site.modelCategoryName
                    </th>
                    <th>
                        @site.topMemberObjCount
                    </th>
                </tr>

                @foreach (var item in Model.Top5CategorieMoisBest)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categorie.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>

                    </tr>
                }

            </table>
        </div>
        <div class="col-md-3">
            <h3>@site.statTop5MostSoughtWeek</h3>
            <table class="table">
                <tr>
                    <th>
                        @site.modelCategoryName
                    </th>
                    <th>
                        @site.topMemberObjCount
                    </th>
                </tr>

                @foreach (var item in Model.Top5CategorieSemaineBest)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categorie.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>

                    </tr>
                }

            </table>
        </div>
        <div class="col-md-3">
            <h3>@site.statTop5LeastSoughtMonth</h3>
            <table class="table">
                <tr>
                    <th>
                        @site.modelCategoryName
                    </th>
                    <th>
                        @site.topMemberObjCount
                    </th>
                </tr>

                @foreach (var item in Model.Top5CategorieMoisLeast)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categorie.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>

                    </tr>
                }

            </table>
        </div>
        <div class="col-md-3">
            <h3>@site.statTop5LeastSoughtWeek</h3>
            <table class="table">
                <tr>
                    <th>
                        @site.modelCategoryName
                    </th>
                    <th>
                        @site.topMemberObjCount
                    </th>
                </tr>

                @foreach (var item in Model.Top5CategorieSemaineLeast)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categorie.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>

