@model IEnumerable<A17ProjetMVC.Models.Objet>

@{
    ViewBag.Title = "Top 5 Objets";
}

<h2>Top 5 Objets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomObjet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomObjet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
    </tr>
}

</table>
