@model IEnumerable<A17ProjetMVC.Models.ApplicationUser>
@using A17ProjetMVC.Resources;

@{
    ViewBag.Title = @site.viewTopMemberTitle;
}

<h2>@site.viewTopMemberTitle</h2>

<p>
    @Html.ActionLink(@site.buttonCreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
    </tr>
}

</table>
